@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

#RPS {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(circle at center top,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%));
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.winner {
  /* background: radial-gradient(#e66465, #9198e5); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonshadow {
  box-shadow: rgba(0, 0, 0, 0.171) inset 0px 3px 0px 3px;

}

.Button3d,
.splashScreen {

  transform-style: preserve-3d;

}

.RPSLS-area {
  display: grid;
  /* place-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
  /* Three columns */
  grid-template-rows: 1fr 1fr 1fr;
  /* Three rows */
  /* gap: 10px; */
  /* Adjust the gap as needed */
  grid-template-areas:
    "scissorsButton      scissorsButton     scissorsButton"
    "spockButton    empty       paperButton"
    "lizardButton   empty        rockButton";

}

#scissorsButton, #one {
  grid-area: scissorsButton;
  grid-column-start: 2;
  grid-column-end: 4;
  /* transform: translateY(-30px); */
}

#rockButton, #two {
  grid-area: rockButton;
  /* transform: translateX(-30px) translateY(30px); */
}

#paperButton, #three {
  grid-area: paperButton;
  /* transform: translateX(30px) translateY(-30px); */
}

#lizardButton, #four {
  grid-area: lizardButton;
  /* transform: translateX(30px) translateY(30px); */
}

#spockButton, #five {
  grid-area: spockButton;
  
  /* transform: translateX(-30px) translateY(-30px); */
}